body {
  padding: 0rem !important;
  cursor:text;
  // overflow: hidden;
}

@media only screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

/*
textarea {
  // width: 100vw;
  // height: 100vh;
  width: fit-content;
  height: fit-content;
}
*/

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.container {
  // background-image: repeating-linear-gradient(#ffffff,#ffffff calc(11.5rem - 3px),rgba(0,0,0,0.5) 11.5rem);
  width: 100vw;
  min-height: 100vh;
}

h1,
textarea {
  width: 100vw;
  // height: initial !important;
  // height: 100vh;
  // text-align: center;
  font-family: 'Bowlby One SC', cursive;
  // font-size: 15.5vw;
  font-size: 10rem;

  border: none;
  outline: none;
  background: transparent;
  min-height: calc(100vh - 5px);
}